@use '../../../../assets/styles/variables.scss' as vars;

header {
  border-bottom: 1px solid vars.$border-gray;
}
.mat-icon {
  height: 1.25rem;
  width: 1.25rem;
}
.material-icons  {
  font-size: 1.25rem;
}