<div class="search-bar px-6 py-2 sticky top-15 bg-zinc-50 z-1">
  <div class="flex items-center justify-between">
    <div>
      @if (showFilterCrumbs) {
        <div class="flex gap-2 items-center">
          @for (key of searchKeys; track key) {
            @if (getPropertyValue(key)) {
              <div class="filter-crumb rounded-sm">
                <span class="hidden sm:inline text-neutral-500">{{ getKeyValue(key) }}</span>
                <span class=" text-neutral-600 font-semibold px-2 bg-zinc-200 mx-1 rounded-sm break-keep">{{ getPropertyValue(key) }}</span>
                <span class="text-sm-icon cursor-pointer text-neutral-900" (click)="removeFilter(key)" (keyup.enter)="removeFilter(key)" tabindex="0">
                  <mat-icon fontIcon="close"></mat-icon>
                </span>
              </div>
            }
          }
        </div>
      }
    </div>
    <div class="flex gap-4 items-center calender-sm">
      @if (!showFilterCrumbs) {
        <mat-form-field>
          <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxDate" [min]="minDate">
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker 
            #dp
            startView="multi-year"
            (yearSelected)="setYear($event, dp)"
            panelClass="year-picker"
          ></mat-datepicker>
        </mat-form-field>
      }
      <p class="font-semibold text-sm text-sky-700 pl-2 cursor-pointer" (click)="openAdvancedFilter()" (keyup.enter)="openAdvancedFilter()" tabindex="0">
        <span class="hidden md:inline">Advanced Filter</span>
        <span class="inline md:hidden">
          <mat-icon cl>
            filter_alt
          </mat-icon>
        </span>
      </p>
    </div>
  </div>
</div>