@use '../../../../../assets/styles/variables.scss' as vars;
.search-bar {
  min-height: 50px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.filter-crumb {
  padding: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  border: 1px solid vars.$border-gray;
}
.search-bar {
  border-bottom: 1px solid vars.$border-gray;
}
.text-sm-icon {
  height: 1rem;
  .material-icons {
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-left: 0.25rem;
  }
}