
<div class="dashboard bg-zinc-50">
  <div class="nobel-image h-60 sm:h-80 md:h-100 lg:h-120 xl:h-140 w-full"></div>
  <div class="py-15 px-4 mx-auto max-w-3xl cards-container flex flex-col justify-center items-center">
    <h1 class="text-4xl font-medium text-center">
      What is the Nobel Prize?
    </h1>
    <p class="pt-4 text-center font-medium text-lg">The Nobel Prize is a set of prestigious international awards bestowed annually for achievements in various fields. It was established by the will of Alfred Nobel, a Swedish inventor, engineer, and industrialist, in 1895. Nobel left most of his fortune to fund these awards, which are given to individuals or organizations that have made outstanding contributions to humanity.</p>
    <div class="text-center py-8">
      <button  mat-stroked-button (click)="showWinnersList()">
        View Nobel Laureates
      </button>
    </div>
    <mat-accordion>
      @for (question of questions; track $index) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{question.question}} </mat-panel-title>
          </mat-expansion-panel-header>
          @if (question.answer1) {
            <p class="py-2">{{question.answer1}}</p>
          }
          <ul class="add-list-styles">
            @for (listItem of question.answer2; track $index) {
              <li>{{listItem}}</li>
            }
          </ul>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
</div>
