<div class="winner-card p-4 mb-4 rounded-sm">
  <p class="text-neutral-500">{{prize()?.categoryFullName?.en}}, {{prize()?.awardYear}}</p>
  <div class="laureates">
    @for (laureate of prize()?.laureates; track laureate.id) {
      <h3 class="py-1">
        <a [routerLink]="'/laureate/' + laureate.id" class="laurate-name underline-offset-2 cursor-pointer">{{ getName(laureate) }}</a>
      </h3>
      <p>{{ laureate.motivation.en }}</p>
      <p class="text-sm pt-1 text-neutral-500">Awarded on {{prize()?.dateAwarded | date : 'dd MMMM, yyyy'}}</p>
    }
  </div>
</div>