<div class="search-bar px-10 py-2 sticky top-15 bg-zinc-50 z-1">
  <div class="flex items-center justify-between">
    <div>
      @if (showFilterCrumbs) {
        <div class="flex gap-2 items-center">
          @for (key of searchKeys; track key) {
            <div class="filter-crumb rounded-sm">
              <span class="text-neutral-500">{{ key }}</span>
              <span class=" text-neutral-600 font-semibold px-2 bg-zinc-200 mx-1 rounded-sm">{{ getPropertyValue(key) }}</span>
              <span class="text-sm-icon cursor-pointer text-neutral-900">
                <mat-icon fontIcon="close"></mat-icon>
              </span>
            </div>
          }
        </div>
      }
    </div>
    <div class="flex gap-4 items-center calender-sm">
      @if (!showFilterCrumbs) {
        <mat-form-field>
          <input matInput [matDatepicker]="dp" [formControl]="date">
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker 
            #dp
            startView="multi-year"
            (yearSelected)="setYear($event, dp)"
            panelClass="year-picker"
          ></mat-datepicker>
        </mat-form-field>
      }
      <p class="font-semibold text-sm text-sky-700 cursor-pointer" (click)="openAdvancedFilter()">Advanced Filter</p>
    </div>
  </div>
</div>