<div class="p-5">
  <div class="h-8 mb-2 w-full max-w-100 shimmer"></div>

  <div class="h-4 w-full max-w-75 shimmer"></div>

  <div class="mt-6 my-4 w-30 shimmer h-6"></div>
  <div class="h-4 w-60 shimmer"></div>
  <div class="my-1 h-5 w-full shimmer"></div>
  <div class="my-2 h-5 max-w-105 shimmer"></div>
  <div class="h-4 w-40 shimmer mb-2"></div>
  <div class="h-4 w-30 shimmer mb-4"></div>
  <div class="h-12 w-full shimmer"></div>

  <div class="mt-6 my-4 w-30 shimmer h-6"></div>
  <div class="h-12 w-full shimmer"></div>
  <div class="mt-4 h-12 w-full shimmer"></div>
</div>
