/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import "./assets/styles/mixins.scss";
* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

p { margin: 0; }

body { margin: 0; }

:root {
  // mat-datepicker
  --mat-form-field-container-vertical-padding: 4px;
  --mdc-filled-text-field-active-indicator-color: transparent;
  --mat-sys-corner-extra-large: 4px;
  --mat-option-label-text-font: "Work Sans", sans-serif;
  --mdc-filled-text-field-focus-label-text-color: oklch(0.5 0.134 242.749);
  // paginator
  --mat-paginator-container-background-color: oklch(0.985 0 0);
  --mat-paginator-container-text-size: 0.875rem;
  --mat-paginator-select-trigger-text-size: 0.875rem;
  // expansion panel
  --mat-expansion-container-background-color: oklch(0.985 0 0);
  // buttons
  --mdc-filled-button-container-color: oklch(0.5 0.134 242.749);
  --mdc-filled-button-container-shape: 4px;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.mat-mdc-form-field-icon-suffix {
  margin-right: 0.25rem;
}
.mdc-line-ripple {
  display: none;
}
.mdc-text-field--filled {
  border-radius: 0.25rem !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.shimmer {
  background-color: #80808035;
  border-radius: 4px;
  animation-name: shimmeranimation;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes shimmeranimation {
  from {
    background-color: #80808035;
  }
  to {
    background-color: #80808017;
  }
}

// Include date picker styles
@include calender-styles();

// Paginator styles of mobile UI
@include paginator-styles();