@mixin calender-styles {
  .calender-sm {
    .mat-datepicker-toggle .mat-mdc-icon-button {
      padding: 0;
      padding-left: 0.25rem;
      width: 32px;
      height: 32px;
    }
    .mat-mdc-form-field-flex {
      height: 32px;
    }
  }
  .year-picker {
    .mat-calendar-period-button {
      pointer-events: none;
    }
    .mat-calendar-arrow {
      display: none;
    }
    .mat-calendar-content:has(mat-year-view) {
      display: none;
    }
  }
}

@mixin paginator-styles {
  @media screen and (max-width: 480px) {   
    .mat-mdc-paginator-container {
      justify-content: space-between !important;
      .mat-mdc-paginator-page-size-label {
        display: none;
      }
    }
  }
}